@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@import "tailwindcss";

* {
  scrollbar-color: var(--color-dark-100) var(--color-black);
}

:root {
  --gradient-color: linear-gradient(to bottom right,
      #0894ff 0%,
      #c959dd 34%,
      #ff2e54 68%,
      #ff9004);
}


@theme {
  --font-regular: "Regular";
  --font-medium: "Medium";
  --font-semibold: "SemiBold";
  --font-bold: "Bold";
  --color-primary: #0071e3;
  --color-dark-100: #86868b;
  --color-dark-200: #2e2e30;
  --color-light-100: #adb5bd;
}

html {
  max-width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  max-width: 100%;
  /* overflow-x: hidden; */
  background-color: #000;
  color: var(--color-dark-100);
  font-family: 'Manrope', sans-serif;
}

@utility col-center {
  @apply flex flex-col items-center justify-center;
}


@utility flex-center {
  @apply flex items-center justify-center;
}

@utility flex-between {
  @apply flex items-center justify-between;
}

@utility abs-center {
  @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}

@utility h3-semibold {
  @apply font-semibold text-xl text-dark-100;
}

@utility base-semibold {
  @apply font-semibold text-base text-dark-100;
}

@utility small-medium {
  @apply font-medium text-xs;
 }

@layer components {
  #hero {
    @apply col-center mt-40 lg:mt-20 2xl:mt-[7vh];

    div {
      @apply relative z-10 col-center lg:translate-y-16;

      h1 {
        @apply font-semibold lg:text-3xl 2xl:text-5xl text-white;
      }

      img {
        @apply mx-auto w-2/3 max-w-full;
      }
    }

    video {
      @apply mx-auto lg:translate-y-5 2xl:translate-y-0;
    }

    button {
      @apply relative z-10 bg-primary text-white py-2 px-6 mt-10 lg:mt-0 mb-5 rounded-full font-semibold text-lg cursor-pointer hover:bg-white hover:text-black transition-all duration-300 ease-in-out;
    }

    p {
      @apply lg:h3-semibold base-semibold;
    }
  }
}